<% content_for :title, "Editing employeer" %>

<h1>Editing employeer</h1>

<%= render "form", employeer: @employeer %>

<br>

<div>
  <%= link_to "Show this employeer", @employeer %> |
  <%= link_to "Back to employeers", employeers_path %>
</div>
